<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class='header'>
	<div class="diagnostics_header">
		<%if (diag && json.articles.diagnostics) {%>
			<div>
				popularity weight: <%=json.articles.popularity_weight%>
			</div>
		<%}%>
	</div>
	<div class='logo'><a href='http://61fresh.com'>61FRESH</a></div>
	<div class="tagline">
		Boston news, as tweeted by Bostonians. Updated every 10 minutes. <span class='about_link'><a href='about.html'>learn more &raquo;</a></span>
	</div>
	<div class='last_updated'>
		last updated <%=moment(Date.parse(json.articles.generated_at)).fromNow()%>
	</div>
	<div class='mute_sports'>
		<input id='sports_mute' type="checkbox" value="1"> mute sports 
	</div>
</div>
<div>
	<div id='right_rail'>
	
	<%_.each(json.leaders,function(leader){%>
		<div class='rail_set'>
			<div class='rail_set_header'>most-tweeted stories last <%=leader.data.age_in_hours/24%> days</div>
			<div class='rail_set_articles'>
				<%_.each(leader.data.articles,function(article,i){%>
					<%if (i>9) return%>
					<%if (article.url=='http://boston.com/') return%>
					<div>
						<div class='rail_set_article'>
							<%if (article.image_url&&i<0) {%>
							<div class='rail_set_article_image_container'><img class='rail_set_article_image' src='<%=article.image_url%>'/></div>
							<%}%>
							<div class='rail_set_article_header'>
							<%=moment(new Date(article.first_tweeted)).fromNow()%> on <a href='http://<%=article.source%>'><%=article.source%></a>
							</div>
							<div class='rail_set_article_link'>
								<a href='<%=article.url%>'><%=article.title%></a> 
								<div class='rail_set_article_num_tweets count_bubble'>
									<%=article.total_tweets%>
								</div>
							</div>
						</div>
					</div>
				<%})%>
			</div>
		</div>
		<%})%>
		
		<%_.each(json.domain_leaders,function(domain_leader){%>
			<div class='rail_set'>
				<div class='rail_set_header'>most-tweeted domains last <%=domain_leader.data.age_in_days*24%> hours</div>
				<div class='rail_set_articles'>
				<table><tr><td valign=top>
					<%_.each(domain_leader.data.domains,function(domain,i){%>
						<%if (i==13) {%>
							</td><td valign=top>
						<%}%>
						<div>
							<div class='rail_set_domain' >
								<div class='rail_set_domain_num_users_container'>
									<div class='rail_set_domain_num_users count_bubble'>
										<%=domain.num_users%> 
									</div>
								</div>
									<a href='http://<%=domain.domain%>'><%=domain.domain%></a> 
							</div>
						</div>
					<%})%>
					</td></tr></table>
				</div>
			</div>
			<%})%>
		
	<%_.each(json.hashtags,function(hashtag){%>
		<div class='rail_set'>
		<div class='rail_set_header'>#<%=hashtag.name%></div>
			<div class='rail_set_articles'> 
			<%_.each(hashtag.data.articles,function(article,i){%>
					<%if (i>4) return%>
					<div>
						<div class='rail_set_article'>
							<div class='rail_set_article_header'>
								<%=moment(new Date(article.first_tweeted)).fromNow()%> on <a href='http://<%=article.source%>'><%=article.source%></a>
							</div>
							<div class='rail_set_article_link'>
								<a href='<%=article.url%>'><%=article.title%></a> 
								<div class='rail_set_article_num_tweets count_bubble'>
									<%=article.total_tweets%>
								</div>
							</div>
						</div>
					</div>
				<%})%>
			</div>
		</div>
		<%})%>		
		
	</div>
	<div id='main'>
		<div class='main_header'>
			<div>latest boston news</div>
			<div class='main_header_subhead'>
				ranked by number of local tweets linking to story; stories reach the top by being new and buzzy - or slightly older and very buzzy
				<div class='main_header_hint'><a href='about.html'>learn&nbsp;more&nbsp;&raquo;</a></div>
			</div>
			</div>
		<%_.each(json.articles.clusters,function(cluster){%>
			<%_.each(cluster,function(article,i){%>
				<%if (article.deleted) return%>
				<div class='article <%=article.order_within_cluster==0 ? "main_cluster_article": "subsidiary_cluster_article"%><%=article.is_sports ? "sports": ""%>'>
					<div>
					<%if (diag && json.articles.diagnostics) {%>
						<div class='diagnostics_row'>
							<table>
								<tr>
									<td>total_tweets</td>
									<td><%=article.total_tweets%></td>
								</tr>
								<tr>
									<td>age (in hours)</td>
									<td><%=article.age%></td>
								</tr>
								<tr>
									<td>popularity_factor</td>
									<td><%=article.popularity_factor%></td>
								</tr>
								<tr>
									<td>age_factor</td>
									<td><%=article.age_factor%></td>
								</tr>
								<tr>
									<td>hotness</td>
									<td><%=(article.hotness+'').substring(0,4)%></td>
								</tr>
								<tr>
									<td>popularity_weight</td>
									<td><%=json.articles.popularity_weight%></td>
								</tr>
								<tr>
									<td>ignore_age</td>
									<td><%=json.articles.ignore_age%></td>
								</tr>
								<tr>
									<td>sports score</td>
									<td><%=(article.sports_score+'').substring(0,4)%></td>
								</tr>
							</table>
						</div>
					<%}%>
					<div class='article_hotness'>
						<%=article.total_tweets%>
						<div  class='article_hotness_label'>boston<br>tweets</div>
					</div>
					<%if (article.image_url) {%>
					<div class='article_image_container' ><img onload='$(this).show();$(this).parent().show()' class='article_image' src='<%=article.image_url%>'/></div>
					<%}%>
					<div class='article_header'>
						<div class='article_source'><a href='http://<%=article.source%>'><%=article.source%></a></div>
						<!--<div class='article_total_tweets'><%=article.total_tweets%> boston tweets</div>--><div class='article_found_at'>article, first tweeted <%=moment(Date.parse(article.first_tweeted)).fromNow()%>
							<%if (article.first_tweeter) {%>
								by <a href='http://www.twitter.com/<%=article.first_tweeter.screen_name%>'>@<%=article.first_tweeter.screen_name%></a>
							<%}%>
							</div>
							<span class='twitter_intents hover'>
								<!--<a href="https://twitter.com/marstall" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>-->
								<a href="https://twitter.com/intent/tweet?in_reply_to=<%=article.first_tweeter.tweet_id%>"><img src='images/twitter_reply.png'> Reply</a>
								&nbsp;<a href="https://twitter.com/intent/retweet?tweet_id=<%=article.first_tweeter.tweet_id%>"><img src='images/twitter_retweet.png'> Retweet</a>
								&nbsp;<a href="https://twitter.com/intent/favorite?tweet_id=<%=article.first_tweeter.tweet_id%>"><img src='images/twitter_favorite.png'> Favorite</a>
							</span>
						<%if (article.is_new) {%>
							<div class='article_is_new'>new!</div>
						<%}%>
					</div>
					<div class='article_title'>
					<div class='article_profile_image_url'><a href='http://www.twitter.com/<%=article.tweet_title_screen_name%>'>
						<img src='<%=article.profile_image_url%>'/></a>
						<div class='article_title_screen_name'><%=article.tweet_title_screen_name%></div>
					</div>
					<a href='<%=article.url%>'><%=article.tweet_title%></a>
					</div>
					<div class='article_description'>
						<div class='article_description_title'><%=article.title%> &#8230;</div>
	
					<%=article.description%></div>
					<%if (article.tweeters && article.tweeters.length>0) {%>
						<div class='article_tweeters'>
							Tweeted by <%=article.tweeters.length%> local people:
							<%_.each(article.tweeters,function(tweeter,index){%>
								<div class='article_tweeter'>
									<div class='article_tweeter_screen_name'>
									<%if (index>0){%>
										<%=" "%>
									<%}%>
									<a title="<%=moment(new Date(tweeter.created_at)).fromNow()%>: <%=tweeter.text%> (weight: <%=tweeter.tweet_weight%>)" 
										href='http://www.twitter.com/<%=tweeter.screen_name%>/statuses/<%=tweeter.tweet_id%>'>
										@<%=tweeter.screen_name%>
									</a>
									</div> 
								</div>
							<%})%>
							<%if (article.total_tweets>article.tweeters.length) {%>
								&nbsp;and <%=article.total_tweets-article.tweeters.length%> others
							<%}%>
						</div>
					<%}%>
					</div>
				</div> <!-- article -->
		<%})%>
	<%})%>
	<div class='navigation'>
		<div class='navigation_element navigation_back'>
			<a title='rewind to see this list as it appeared 6 hours earlier in time' href='<%=archive_url(json.articles.generated_at,-1)%>'>&lt;&lt;older articles</a>
		</div>
		<div class='navigation_element navigation_forward'>
			<a title='fast forward to see this list as it appeared 6 hours later in time' href='<%=archive_url(json.articles.generated_at,1)%>'>newer articles&gt;&gt;</a>
		</div>
		<div style='clear:both'>
	</div>
	</div> <!-- main -->
	<div style='clear:right'>
	</div>
</div>
